<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">
    <aop:aspectj-autoproxy/>

    <bean id="developer" class="ru.kpfu.itis.Developer">
        <property name="name" value="Ivan"/>
        <property name="speciality" value="Python Developer"/>
        <property name="experience" value="14"/>
    </bean>

    <bean id="logging" class="ru.kpfu.itis.Logging"/>
</beans>
